body {
  background-color: rgb(239, 237, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  height: 20px;
}

.senha {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-symbols-outlined {
  cursor: pointer;
  color: rgb(116, 116, 116);
  padding-right: 15px;
}

button {
  background-color: rgb(229, 229, 0);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(36, 37, 0);
  font-weight: 600;
}

button:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}

