body {
  background-color: rgb(34, 34, 34);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  color: rgb(0, 0, 0);
}

input {
  padding: 15px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  height: 20px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: -5px 0px 0px rgb(246, 133, 133);
}

.senha {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-symbols-outlined {
  cursor: pointer;
  color: rgb(116, 116, 116);
  padding-right: 15px;
  background-color: rgb(233, 233, 233);
}

button {
  background-color: rgb(246, 133, 133);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(36, 37, 0);
  font-weight: 600;
}

button:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
